src/main/resources/wsdl/ActivationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://myfirstsoap.com/activate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Activation"
	targetNamespace="http://myfirstsoap.com/activate/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://myfirstsoap.com/activate/">
			<xsd:complexType name="activationRequest">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"></xsd:element>
					<xsd:element name="package" type="xsd:string"></xsd:element>
					<xsd:element name="device" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="activationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="activationRequest"
				type="tns:activationRequest">
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="activationOperationRequest">
		<wsdl:part element="tns:activationRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="activationOperationResponse">
		<wsdl:part element="tns:activationResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="Activation">
		<wsdl:operation name="activationOperation">
			<wsdl:input message="tns:activationOperationRequest" />
			<wsdl:output message="tns:activationOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ActivationSOAP" type="tns:Activation">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="activationOperation">
			<soap:operation soapAction="http://myfirstsoap.com/activate/activationOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="ActivationService">
		<wsdl:port binding="tns:ActivationSOAP" name="ActivationSOAP">
			<soap:address location="http://localhost:8080/ActivationService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
